<a href="https://colab.research.google.com/github/ashishshaji/assignment_ineuron/blob/master/Python_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Assignment 3
## Question 1

1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [1]:
# anyfunc passes the function to myreduce function
def myreduce(anyfun, seq):

 # Get first item in sequence and assign to result
  result = seq[0]
 # iterate over remaining items in sequence and apply reduction function 
  for item in seq[1:]:
   result = anyfun(result, item)

  return result
def prod(x,y): return x*y

print ("Sum of first 4 natural numbers :"   + str(myreduce(lambda x,y:x+y, [1,2,3,4])) )

print ("Product of first 4 natural numbers :"   + str(myreduce(prod, [1,2,3,4])) )

Sum of first 4 natural numbers :10
Product of first 4 natural numbers :24


**1.2**
Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [2]:
# Custom filter function 
def myfilter(anyfun, sequence):

 result = []
 # iterate over sequence of items in sequence and apply filter function
 for item in sequence:
  if anyfun(item):
   result.append(item)

 # return funal output
 return result


# custom function to  check a number is odd or not
def even_checker(num):
  if (num%2==0):
    return True
  else:
    return False
  
   

custom_list=range(30)

print("filter even number from 0 t0 30:")    
print(str(myfilter(even_checker, custom_list) ))

filter even number from 0 t0 30:
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

## Question *2*

Implement List comprehensions to produce the following lists. Write List comprehensions to produce the following Lists



['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [3]:
l1 = list("xyz")
[letter*i for letter in l1 for i in range(1,5) ]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [4]:
[letter*i for letter in l1 for i in range(1,5) for l1 in letter]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [5]:
l2=[2,3,4]
[[i+j] for i in l2 for j in range(0,3) ]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [6]:
l3=[2,3,4,5]
[[i+j for i in l3] for  j in range(0,4)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [7]:
l4=[1,2,3]
[(j,i) for i in l4 for j in l4]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]